<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links App</title>
    {{!-- GOOGLE FONTS --}}
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    {{!-- BOOTSTRAP 4 --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    {{!-- FONTS AWESOME --}}
    <script src="https://kit.fontawesome.com/334adde4af.js" crossorigin="anonymous"></script>
    {{!-- MY STYLES --}}
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>navigation}}
    {{{ body }}}    
</body>
</html>